.child {
  color: black;
  flex: 0 0 45%;
  margin: 5px;
  height: 100px;
  text-decoration: none;
}

.child {
}

.elegent {
  border-radius: 10px;
  /*-webkit-box-shadow: 4px 5px 13px -9px rgba(0,0,0,0.7);*/
  /*box-shadow: 4px 5px 13px -9px rgba(0,0,0,0.7);*/
  padding: 1%;
}

.elegent:hover {
  color: rgb(0,0,0);
  box-shadow: 4px 5px 3px -3px rgba(0,0,0,0.7);
}

